#calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: sans-serif;
  border: 2px black solid;
  border-radius: 5px;
  background-color: #ffaebc;
  width: 360px;
  padding: 20px 0 0 0;
  box-shadow: 5px 5px 0px black;
}

#calc-display {
  text-align: right;
  border: 2px black solid;
  border-radius: 5px;
  background-color: #a0e7e5;
  box-shadow: 2px 2px 0px grey;
  margin: 10px;
  padding: 10px 20px 10px 20px;
  font-size: 2em;
  line-height: 1em;
  width: 280px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  min-height: 1em;
}

#btnpad {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 20px;
  padding: 0px;
}
#numpad {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  justify-content: flex-start;
  .button {
    background-color: #b4f8c8;
  }
}
#oprpad {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 130px;
  // border: 1px green solid;
}

.button {
  border: 2px black solid;
  border-radius: 15px;
  background-color: #fbe7c6;
  box-shadow: 2px 2px 0px grey;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 5px;
}

#zero {
  width: 115px;
}
#equals {
  width: 115px;
}

#clear {
  width: 115px;
  background-color: #ef7c8e;
}

#footer {
  font-size: 0.5em;
  margin: 5px;
  text-align: center;

  p {
    margin: 0;
  }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  #calculator {
    width: 80vw;
  }
  #calc-display {
    width: 200px;
  }
  .button {
    width: 40px;
    height: 40px;
  }
  #zero {
    width: 94px;
  }
  #equals {
    width: 94px;
  }
  #clear {
    width: 94px;
  }
  #btnpad {
    width: 280px;
  }
}
